/* https: ; //lospec.com/palette-list/endesga-64 */
:root {
  --app-bg: #131313;
  --app-text: #b4b4b4;
  --link-inactive: #ffffff;
  --link-hover: #c7cfdd;
  --grid-bg: #1a1932;
  --cell-text: #657392;
  --cell-hover: #ffc825;
  --cell-wall: #657392;
  --cell-visited: #424c6e;
  --cell-visited-text: #c7cfdd;
  --cell-current: #ff5000;
  --cell-current-text: #8e251d;
  --cell-gate: #1e6f50;
  --cell-gate-text: #5ac54f;
}

p {
  margin: 0;
}

.App {
  text-align: center;
  background-color: var(--app-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: var(--app-text);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.byline {
  padding-top: 16px;
}

a {
  color: var(--link-inactive);
  transition: color 150ms ease-in;
}

a:hover {
  color: var(--link-hover);
  transition: color 250ms ease-out;
}

h1 {
  font-size: calc(10px + 2vmin);
}

.grid {
  background-color: var(--grid-bg);
  display: grid;
  font-size: calc(2vmin);
  gap: 2px;
  padding: 8px;
}

.controls {
  font-size: 2vmin;
}

.control-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}

.control-item {
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cell {
  color: var(--cell-text);
  background-color: var(--grid-bg);
  font-size: calc(1.5vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 150ms ease-in;
}

.cell:hover {
  background-color: var(--cell-hover);
  transition: background-color 150ms ease-out;
}

.visited {
  color: var(--cell-visited-text);
  background-color: var(--cell-visited);
  transition: background-color 500ms ease;
}

.current {
  color: var(--cell-current-text);
  background-color: var(--cell-current);
  transition: background-color 50ms ease-out;
}

.wall {
  background-color: var(--cell-wall);
  color: var(--mud-300);
}

.gate {
  color: var(--cell-gate-text);
  font-weight: 600;
  background-color: var(--cell-gate);
  font-size: calc(2.5vmin);
  padding-bottom: 0.5vmin;
}
